<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>


<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 py-2 border-bottom">
    <a href="/index" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Услуги эвакуатора Варшава</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="index">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="about_us">О компании</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="reviews">Отзывы</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="price">Цены</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="payment">Оплата</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="contact">Контакт</a>
        <a class="me-0 py-2 link-body-emphasis text-decoration-none" href="tel:+48786881786">Нужен эвакуатор? <p>Звоните нам!</p> <p> 786 881 786</p></a>
    </nav>
</div>

<main>

    <div height="900px" class="container-fluid head-block" data-bg="" data-was-processed="true"
             style ="background-image: url('index2.webp');
             background-repeat: no-repeat; background-size: 100em 100%; color: #000000; height: 450px " >
        <div class="container  px-0">
            <div class="row">
                <div class="col-md-12 col-lg-6 content py-md-5 pt-5 pr-md-5">

                    <div class="d-md-flex mb-3 h1-center">

                        <div class="my-auto">
                            <h1 class="h2 mb-0 font-weight-bold text-black"><span class="display-7 font-weight-bolder"><span class="font-weight-bolder" style="color: #f2f2f2 ">Транспорт автомобилей по Варшаве</span></span></h1>

                        </div>
                    </div>

                    <div class="content">
<!--                        <div class="d-md-flex mb-2 align-items-center top-content"><p class="h4" style="font: bold; color: #000000">Звони и заказывай прямо сейчас!</p><div class="d-md-flex mb-2"><a class="display-5 d-block btn main-btn-2 m-0 font-weight-bolder" href="tel:+48786881786">+ (48) 786 881 786</a>-->
<!--                        </div>-->
<!--                        </div>-->
                        <p></p>
                        <div>
                            <form>
                                <a href="tel:786881786"><input class="favorite styled"
                                                               type="button"
                                                               value="Позвонить и заказать прямо сейчас!">
                                </a>
                            </form>
                        </div>
                        <p></p>
                        <ul class="top-list m-0 p-0" style="font-size: 22px ; color: #f2f2f2">
                        <li>Бесплатная подача эвакуатора</li>
                        <li>Без почасовой оплаты</li>
                        <li>Фиксированная стоимость в момент заказа</li>
                        <li>Оплачивай любым удобным способом</li>
                        <li>Работаем 24/7</li>
                        <li>Профессиональная эвакуация с 2018 года</li>
                    </ul>
                    </div>
                   </div>

                             <div class="col-md-12 col-lg-6 main-bg-2 skew shadow-lg px-md-5 py-5" style="background: transparently ">

<!--                    do form transparent-->
                        <form action="/" method="get">
                            <h1 class="h3 mb-3 fw-normal" style="color: #f2f2f2; text-indent: 30%;">Заказать звонок</h1>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput">
                                <label for="floatingInput">Введите имя</label>
                            </div>
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{9}">
                                <label for="floatingInput">Телефон</label>
                            </div>




                            <button class="btn btn-primary w-100 py-2" type="submit">Заказать звонок</button>

                        </form>                </div>
                </div>
            </div>

        </div>
    </div>

    <section>

        <div><h2 style="margin: 1rem 0; font-size: 2.1rem; text-align: center;">Служба эвакуации автомобилей </h2>
        </div>

        <p style="font-size: 1.1rem; padding-left: 30px; padding-right: 35px"> &nbsp;
            &nbsp;Добро пожаловать на наш сайт, где мы гордимся тем, что нас выбирают в сложных и непредсказуемых ситуациях. Мы – команда опытных профессионалов, предоставляющих услуги эвакуатора с неизменным стремлением к качеству и безупречному сервису.
            Когда речь идет о вашем автомобиле, мы полностью осознаем, что для вас он не просто транспортное средство. Это часть вашей жизни, вашего комфорта и безопасности. Именно поэтому нам так важно заслужить ваше доверие.
            Наше богатое профессиональное наследие и долгое время работы в этой сфере позволяют нам гарантировать надежность и безопасность при каждой операции эвакуации. Мы осознаем, что даже самая маленькая ошибка может привести к серьезным последствиям, поэтому мы подходим к своей работе с максимальной ответственностью и тщательностью.
            Каждый наш водитель-специалист обладает богатым опытом в области эвакуации автомобилей и прошел строгий отбор, чтобы присоединиться к нашей команде. Мы постоянно совершенствуем наши навыки и обновляем наше оборудование, чтобы быть готовыми к любым вызовам, с которыми вы можете столкнуться.
            Будь то авария, поломка или просто необходимость переместить ваш автомобиль из одного места в другое, мы предлагаем оперативное и профессиональное решение. Мы понимаем, что каждая ситуация уникальна, поэтому мы готовы прислушиваться к вашим требованиям и находить оптимальные решения, чтобы обеспечить ваше удовлетворение.
            Выбирая нас, вы можете быть уверены, что ваш автомобиль находится в надежных руках. Мы гарантируем полную конфиденциальность и защиту ваших интересов. Ваше доверие – наша главная ценность.
            Присоединяйтесь к множеству довольных клиентов, которые выбрали нас в качестве надежного партнера. Мы готовы помочь вам в любое время!
            Именно мы гарантируем срочное решение Ваших транспортных задач, в числе которых:
        <table border="0" width="100%" cellpadding="5">
        <tr>
            <td width="13%"><img src="accident_car.jpg" width="140px" height="120px"></td>
            <td width="19%"><p>перевозка аварийных, неисправных автомобилей;</p></td>

            <td width="13%"><img src="bulldozer.png" width="140px" height="120px"></td>
            <td width="19%"><p>доставка спецтехники к месту ведения работ;</p></td>

            <td width="13%"><img src="electric_car.jpg" width="140px" height="120px"></td>
            <td width="19%"><p>эвакуация электрокаров до мест установки зарядных станций;</p></td>
        </tr>
    </table>

    </p>
    </section>

<div style="color:#fff; max-width: 1200px; background-image: url('index3.jpg'); background-size:cover; background-position: right; border-radius: 25px;
margin: 20px auto 20px; text-align: left;
padding-left: 84px; padding-top: 37px; padding-button: 77px; padding-right: 317px;">

    <h2 style="font-family: Roboto; font-size: 2.1rem; text-align: center; font-weight: 900; ">Нам доверяют</h2>
    <br>
        <p style="font-family: Roboto; font-size: 1.35rem; font-weight: 500;">
            &nbsp;  Когда вам требуется надежный эвакуатор в Варшаве, обратитесь к нам с уверенностью. Мы предлагаем профессиональные услуги эвакуации с конкурентоспособными ценами. Наша команда опытных водителей оперативно реагирует на ваш вызов, обеспечивая быструю и безопасную эвакуацию. Независимо от причины, будь то авария или просто неправильная парковка, мы гарантируем, что ваш автомобиль будет тщательно обращаться и доставлен в пункт назначения в сохранности. Позвоните нам сейчас и убедитесь, что мы - ваш надежный партнер для эвакуации автомобилей в Варшаве.
        </p>

    <br>
    <form style="text-align: left; ">
        <a href="tel:786881786"><input class="favorite styled"
                                       type="button"
                                       value="Звоните по телефону: 786 881 786">
        </a>
        <br>
        <br>

    </form>
</div>
        <section>
            <h2 style="margin: 1rem 0; font-size: 2.1rem; text-align: center;">Особенности сотрудничества со службой эвакуации</h2>

            <p style="font-size: 1.1rem; padding-left: 30px; padding-right: 35px">Мы не берем денег за подачу эвакуатора, вы платите только за услугу. Ее стоимость фиксированная. Это дешевле по сравнению с почасовой оплатой, когда заказчики вынуждены оплачивать время простоя в автомобильных пробках. Прочие преимущества:</p>
            <table border="0" width="100%" cellpadding="5">
                <tr>
                    <td width="5%"><img src="how_order_time.png" width="140px" height="120px"></td>
                    <td width="23%"><p><b><i>круглосуточный прием заказов</i></b> заказов в формате 24/7/365. Вы можете вызвать эвакуатор даже в новогоднюю ночь;</p></td>

                    <td width="5%"><img src="how_order_timer.png" width="140px" height="120px"></td>
                    <td width="23%"><p><b><i>экономия времени.</i></b> Время подачи сообщает диспетчер при оформлении вызова. </p></td>

                    <td width="5%"><img src="how_order_card.png" width="140px" height="120px"></td>
                    <td width="23%"><p><b><i>разные формы оплаты.</i></b> Вы можете рассчитаться наличными, переводом с банковской карты, Blik. Цена эвакуации автомобиля не зависит от выбранного способа расчета;</p></td>
                </tr>
            </table>
    </section>

    <section>
        <h2>Cекция №5</h2>
    </section>
<!--    <div class="row featurette">-->
<!--        <div class="col-md-7 order-md-2">-->
<!--            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>-->
<!--            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>-->
<!--        </div>-->
<!--        <div class="col-md-5 order-md-1">-->
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(&#45;&#45;bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(&#45;&#45;bs-secondary-color)" dy=".3em">500x500</text></svg>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr class="featurette-divider">-->

<!--    <div class="row featurette">-->
<!--        <div class="col-md-7">-->
<!--            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>-->
<!--            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>-->
<!--        </div>-->
<!--        <div class="col-md-5">-->
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(&#45;&#45;bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(&#45;&#45;bs-secondary-color)" dy=".3em">500x500</text></svg>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr class="featurette-divider">-->

<!--    <div class="row featurette">-->
<!--        <div class="col-md-7 order-md-2">-->
<!--            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>-->
<!--            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>-->
<!--        </div>-->
<!--        <div class="col-md-5 order-md-1">-->
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(&#45;&#45;bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(&#45;&#45;bs-secondary-color)" dy=".3em">500x500</text></svg>-->
<!--        </div>-->
<!--    </div>-->


</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>

</body>

</html>